@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Calculadora 2</h1>
</div>

<form class="row g-3 mt-4" method="post">

    <div class="form-group row">
        <div class="col-lg-4">
            <label class="form-label">Número 1:</label>
            <input type="number" class="form-control" asp-for="Num1" />
        </div>
        <div class="col-lg-4">
            <label class="form-label">Operación:</label>
            <select class="form-control" asp-for="SelectedOperation">
                @foreach (var option in Model.Operation)
                {
                    <option value="@option.Id">@option.Description</option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <label class="form-label">Número 2:</label>
            <input type="number" class="form-control" asp-for="Num2" />

        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Calcular</button>
    </div>
</form>

@if (Request.Method == "POST")
{
    <h2>El resultado es @Model.Result</h2>
}
