@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="row g-3 mt-4" method="post">
    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="Person.Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="Person.Name">
            <span asp-validation-for="Person.Name" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label asp-for="Person.Age" class="form-label">Edad</label>
            <input type="number" class="form-control" asp-for="Person.Age">
            <span asp-validation-for="Person.Age" class="text-danger"></span>

        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Procesar</button>
    </div>
</form>

@if (Request.Method == "POST")
{
    <h2>@Model.Message</h2>
}