@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Listado de Personas</h1>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se agregarán las filas de datos de las personas -->
        @foreach (var persona in Model.Persons)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Name</td>
                <td>@persona.LastName</td>
                <td>@persona.Age</td>
            </tr>
        }
    </tbody>
</table>

