@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="row g-3 mt-4">
    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" id="btnHello">Saludar</button>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnHello').click(function (event) {
                let name = $('#Name').val();
                // Evita el envío de la página al servidor
                event.preventDefault();
                alert("Hola " + name);
            });
        });
    </script>
}
