body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

h1 {
	text-align: center;
	margin: 20px 0;
}

#list {
	margin: 20px auto;
	width: 400px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#new-item {
	width: 70%;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#add-btn {
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#items {
	margin-top: 10px;
	padding: 0;
}

#items li {
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: #f0f0f0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#items li.completed {
	background-color: #c0c0c0;
}

#items li button {
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	cursor: pointer;
	background-color: #f44336;
	color: #fff;
}
